body
{
    background-color: #EFEFE2;
    font-family: "Oswald", sans-serif;
    margin-top:0;

}

.menu
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px ;
    padding : 10px;
    font-size: clamp(1.5rem, 2vw, 4rem);
}

.image-menu
{
    visibility: collapse;
}

.image-menu img
{
    height: 0;
}

a
{
    margin: 10px;
    text-decoration :none;
    color: black;
    border-bottom: 4px solid transparent;
}

a:hover
{
    position: relative;
    bottom: 10px;
    color: #CAA9F0;
    border-color: #FF612F;
}

#div-content
{
    border : 6px solid black;
    width : 80vw;
    height : auto;
    aspect-ratio: 16 / 10;

    margin : 10% auto;
    padding: 15px;

    border-radius: 20px;
    box-shadow: 0.7em 0.7em 0 black;

    background-color: #FFC52F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: clamp(1.5rem, 2vw, 3rem);

    position: relative;

}

#div-about
{
    border : 6px solid black;
    width : 80vw;
    height : auto;
    aspect-ratio: 16 / 10;

    margin : 10% auto;
    padding: 10px;

    border-radius: 20px;
    box-shadow: 0.7em 0.7em 0 black;

    background-color: #FFC52F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: clamp(1.5rem, 2vw, 3rem);

    position: relative;
}

#nome
{
    border : 3px solid black;
    width : 90%;
    height : auto;
    aspect-ratio: 3 / 1;

    background-color: #EFEFE2;
    margin: 10px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 1200;

}

#div-content p:first-of-type
{
    font-size: 2.5em;
    font-weight: 1000;
    margin:0;
}

#div-content img
{
    visibility: hidden;
    height: 0;
}


#div-content-about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#div-content button
{
    width: 100%;
    background-color: #ffd52f;
    box-shadow: 0.3em 0.3em 0 black;


    font-size: clamp(1.5rem, 2vw, 3rem);
    border : none
}

#div-content form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div-content a
{
   margin:0;
}

#email
{

    width: clamp(20rem, 30vw, 40rem);
    text-align: center;

    font-size: clamp(1.5rem, 2vw, 3rem);

}

#div-content button:active
{

    box-shadow: none;
}

#lista-content-about li
{
    margin : 20px 0;

}







@media (min-width: 1024px)
{
    .menu
    {
        justify-content: start;
    }

    .image-menu
    {
        visibility: visible;
        margin-left: auto;
    }

    .image-menu img
    {
        height: clamp(1.5rem, 2vw, 4rem);
        width:auto;
    }

    #div-content
    {
        width : 50vw;
    }

    #div-content img
    {
        visibility: visible;
        width : clamp(100px, 10vw, 1000px);
        padding : 0;
        margin-left : auto;

        border : 5px solid black;
        border-radius: 50%;

        display: inline-block;
        position: absolute;

        left : 90%;
        bottom: 90%;
    }

}



