body
{
    background-color: #EFEFE2;
    font-family: "Oswald", sans-serif;
    text-align: justify;
}

a
{
    margin: 0 1vw;
    text-decoration :none;
    color: black;
    border-bottom: 4px solid transparent;
}

.menu
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px ;
    padding : 10px;
    font-size: clamp(1.5rem, 2vw, 4rem);
}

.menu img
{
    height: clamp(1.5rem, 2vw, 4rem);
}

.menu a:nth-child(4)
{
    margin-left:auto;
}


.menu a:hover
{
    transform: translateY(-10px);
    color: #CAA9F0;
    border-color: #FF612F;
}

.div-content
{
    border : 0.4em solid black;
    width : 80vw;
    height : auto;
    aspect-ratio: 16 / 10;

    margin : 10% auto;
    padding: 15px;

    border-radius: 1em;
    box-shadow: 0.7em 0.7em 0 black;


    background-color: #FFC52F;

    font-weight: bold;

    font-size: clamp(1.5rem, 2vw, 4rem);
    position: relative;

}

.div-content img
{
    width : clamp(100px, 12vw, 1300px);

    padding : 0;

    border : 0.4em solid black;
    border-radius: 50%;

    position: absolute;

    left : 100%;
    bottom: 100%;

    transform: translate(-50%,+50%);
}

.div-content h2:first-of-type
{
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;

}

.div-content h2, .div-content a,.div-content p
{
    margin:0;
}

.div-content form
{
    margin-top: 0.8em;
}

.div-content button
{
    width: 90%;
    background-color: #ffd52f;
    box-shadow: 0.3em 0.3em 0 black;

    margin: 15px;
    font-size: clamp(1.5rem, 2vw, 3rem);
    border: 0.1em solid black;
}

.div-content button:active
{

    background-color: black;
    color: white;
    box-shadow: none;
}

.div-content li
{
    margin-bottom: 0.8em;
}

#nome
{
    border : 0.2em solid black;
    width : 90%;
    height : auto;
    aspect-ratio: 3 / 1;

    background-color: #EFEFE2;
    margin: 10px;
    border-radius: 0.5em;

    font-weight: 1000;
}

#email
{
    width: clamp(20rem, 30vw, 40rem);
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 3rem);
}

.no-su-mobile
{
    display: none;
}

.centra-colonna
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px)
{
    .menu
    {
        justify-content: start;
    }

    .no-su-mobile
    {
        display: initial;
    }

    .div-content
    {
        width : 50vw;
    }

}



